
/* legacy inizio */
		
	.slido-body-rai { 
		padding: 11px;
		background: #232323;
	}

	.slido-container {
		margin-bottom: 20px !important;
	}

	.slido-flex-box {
		/*display: flex;*/
		justify-content: center;
		display:none;
	}

	.template-rai img{
	width: 100%;
    height: 100%;
    object-fit: cover;
	}

	.slido-flex-container {
		display: flex !important;
		flex-wrap: wrap;
	}
		
/* legacy fine */
		

	.slick-dots li button:before {
		color: #ffffff;
	}	
	
	.slick-dots li.slick-active button:before
	{
		opacity: 1;
		color: #f00;
	}	

	.rapporto-fisso {
		padding-top: 56%;
		background: red;
	}
	.container-titolo{
		position: relative;
		height: 120px;
	}
	
	a.container-titolo{
		display:block;
	}

	.slido-rai-title {
		text-align: center;
		color: white;
		padding: 7px;
		font-size: 17px;
		line-height: 17px;
	}	
	
	.accavallo {
		position: absolute;
		top: -11px;
		background: #d73135;
		padding: 3px 7px;
		right: 0;
		color: white;
		text-transform: uppercase;
	}
	
	.rai-style-post-image{
		overflow: hidden; 
		position: relative;
		padding-top: 55%;
	}
	
	.rai-feat-img-container{ 
		/*width: 100%;*/
    	height: 57%;
		position: absolute;
		top: 0px;
		left: 0px;
	}	
	
	.slido-flex-center{
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}


/* LOGO STYLE */

	.slido-body-logo {
		padding: 11px;
		background: #ffffff;
		border: 1px solid;
		margin-top: 5px;
	}

	.template-logo img{
		width: 100%;
		height: 100%;
		background: #843b3b;
		object-fit: contain;
	}


	.logo-post-image{
		position: relative;
	}

	.logo-img-container{
		display: block;
		height: 110px;

	}	
	.container-titolo-logo{
		border: 1px solid black;
		position: relative;
	}

	a.container-titolo-logo{
		display:block;
	}

